            * {
            /* margin: 0px; */
            /* padding: 0px; */
            font-family: Montserrat;
            font-style: normal;
        }
        
        .succ {
            color: #7CB500;
        }
        
        .succ-btn {
            background-color: #7CB500;
            color: white;
            font-size: 16px;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
            padding: 10px 10px 10px 10px;
            margin-top: 30px;
        }
        
        .succ-btn:hover {
            text-decoration: none;
            background-color: #7CB500;
            color: white;
            font-size: 16px;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
            padding: 10px 10px 10px 10px;
            margin-top: 30px;
        }
        
        .text-header {
            width: 80%;
            margin-left: 10%;
            /* margin-top: 200px; */
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 60px;
            line-height: 78px;
            letter-spacing: 0.01em;
            /* Gray 1 */
            color: #333333;
        }
        
        .online_darslar {
            width: 364px;
            height: 54px;
            /* left: 876px; */
            /* margin-top: 400px; */
            margin-left: 50%;
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 149%;
            /* identical to box height, or 54px */
            letter-spacing: 0.01em;
            /* green */
            color: white;
            /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
            -webkit-text-stroke: 1px #7CB500;
        }
        
        .btn {
            margin-left: 10px;
            margin-right: 10px;
            padding: 15px;
        }
        /* Boostrap Buttons Styling */
        
        .btn-default {
            font-family: Raleway-SemiBold;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.75);
            letter-spacing: 1px;
            line-height: 15px;
            border: 1px solid black;
            border-radius: 40px;
            background: transparent;
            transition: all 0.3s ease 0s;
        }
        
        .btn-default:hover {
            color: #FFF;
            background: #7CB500;
            border: 2px solid #7CB500;
        }
        
        .btn-default2 {
            font-family: Raleway-SemiBold;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.75);
            letter-spacing: 1px;
            line-height: 15px;
            border: 1px solid black;
            border-radius: 40px;
            background: transparent;
            transition: all 0.3s ease 0s;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;
        }
        
        .btn-default2:hover {
            color: #FFF;
            background: #7CB500;
            border: 1px solid #7CB500;
        }
        
        .card {
            height: 400px;
        }
        
        footer {
            background-color: #F2F2F2;